.flex-container{
    display: flex;
    flex-flow: row nowrap;
}
.flex-column{
    display: flex;
    flex-flow: column nowrap;
}
.flex-item{
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    flex-grow: 1;
    align-items:flex-start;
}
p{
    margin: 0 0 10px 0;
}
